name: Test
on:
  push:
    branches:
      - main
      - staging
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  test-with-lanterndb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['18.x', '20.x', '22.x', 'current']
    services:
      postgres:
        image: lanterndata/lantern-self-hosted:lantern-0.4.1-extras-0.4.1-minor-1
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Set up database
        run: |
          DATABASE_NAME=db_$(echo "${{ matrix.node-version }}" | tr '.' '_')
          PGPASSWORD=postgres psql -h localhost -U postgres -c "CREATE DATABASE $DATABASE_NAME"
      - name: Install dependencies and test
        run: |
          DATABASE_NAME=db_$(echo "${{ matrix.node-version }}" | tr '.' '_')
          export DATABASE_URL="postgresql://postgres:postgres@localhost:5432/$DATABASE_NAME"
          export TEST_IMAGE_EMBEDDING_EXAMPLE_URL=https://lantern.dev/images/home/footer.png
          npm ci
          npm run prettier:check
          npm run lint
          npm test
